---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
  ogType?: 'website' | 'article';
  publishedTime?: Date;
}

const { title, description, ogType, publishedTime } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} ogType={ogType} publishedTime={publishedTime} />
  </head>
  <body>
    <Header />
    <main class="wrap">
      <slot />
    </main>
    <Footer />
  </body>
</html>
